.dropdisabled {
    cursor: default !important;
    color: white;
}

#dropdown1 li {
    color: white;
}

.dropdisabled:hover {
    color: white;
    background-color: unset;
}

.parallax-container {
    max-height: 200px;
}

.projectimage img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card-image:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .parallax img {
        width: auto;
    }
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #888888;

    color: #888888;
    overflow: hidden;
    clear: both;

    text-align: center;    
    padding-top: 30px;
}