body {
    font-family: 'Roboto', sans-serif !important;
}

.header {
    width: 70%;
    height: 400px;

    margin: auto;

    box-shadow: 0px 1px 4px #888888;

    overflow: hidden;

    position: relative;
    text-align: center;
}

.header img {
    max-width: 100%;
    height: auto;
    
    margin-top: -150px;
}

#textoverdiv {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 20px;
    left: 20px;
    text-shadow: 2px 2px 6px #888888;
}

.content {
    width: 70%;
    font-size: 17px;
    margin: auto;
}

.heading {
    font-size: 25px;
    height: 35px;
    border-bottom: 1px solid #888888;

    width: 70%;
    margin: auto;
    clear: both;
    font-weight: 550;
}

#bailey {
    padding-right: 20px;
    width: 30%;
    margin-bottom: 20px;

    float: left;
}

#projects div {
    margin-top: 20px;
    margin-bottom: 50px;
    float: left;
    font-size: 17px;
    width: 30%;
}

#projects img {
    width: 100%;
    height: auto;
    padding-right: 20px;

    float: left;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#projects img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition-duration: 0.2s;
}


.projectheading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    clear: both;

    text-align: center;
}


.projecttext {
    padding-top: 15px;
    font-size: 18px;

    clear: both;
}

#projects a {
    color: black;
}

.footer {
    width: 70%;
    height: 100px;
    border-top: 1px solid #888888;

    color: #888888;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    overflow: hidden;
    clear: both;

    text-align: center;    
    padding-top: 30px;
}

.heading2 {
    font-size: 18px;
}

.navbar {
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #888888;
    text-align: right;
}

  /* Dropdown Button */
.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: unset;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border: 1px solid #888888;
    border-left: white;
    border-right: white;
    border-bottom: white;
}

.home a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.home {
    position: relative;
    min-width: 90px;
    display: inline-block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
}
 
.dropdown-content a:hover, .home:hover, .dropbtn:hover {background-color: #ecf0f1;} 

.dropbtn:hover {
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: #3e8e41;} */

.dropdownp {
    color: black;
    text-decoration: none;
}